:root {
    --white-clr:white;
    --primary-color:#EF4444;
    --secondary-color :#1E3A8A;
    --prime-blue:#93C5FD;
    --secondary-pink:#F9ABD4;
    --info-clr:#A5B4FC;
    --warning-clr:#FCD34D;
    --danger-clr:#DC2626;
    --success-clr:#10B981;

}