<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The Image component of Ozone-UI">
    <meta name="author" content="Govardhan Reddy">
    <title>Ozone-UI | Image</title>
    <link rel="stylesheet" href="../../index.css">
</head>
<body>
    <nav class='nav'>
        <div >
            <a class="nav-header" href="../../index.html">Ozone UI</a>
        </div>
        <div class="nav-links">
            <a class='nav-item' href="https://twitter.com/reddygov16" target="_blank">
                <img class="logo" src="../../Assets/SVG/twitter.png" alt="twitter">
            </a>
            <a class='nav-item' href="https://github.com/govardhanreddyc79" target="_blank">
                <img class='logo' src="../../Assets/SVG/github.png" alt="github">
            </a>
        </div>
    </nav>
    <main class="main-section">
        <aside class="sidebar flex-column">
            <a class ='sidebar-header' href="#">Getting Started</a>
            <a class ='sidebar-item hover-effect' href="../../Docs/doc.html">Installation Guide</a>
    
            <a class ='sidebar-header' href="#">Components</a>
            <a class ='sidebar-item hover-effect' href="../Alert/alert.html">Alert</a>
            <a class ='sidebar-item hover-effect' href="../Avtar/avtar.html">Avtar</a>
            <a class ='sidebar-item hover-effect' href="../Badge/badge.html">Badge</a>
            <a class ='sidebar-item hover-effect' href="../Button/button.html">Button</a>
            <a class ='sidebar-item hover-effect' href="../Card/card.html">Card</a>
            <a class ='sidebar-item link-active hover-effect' href="../Image/image.html">Image</a>
            <a class ='sidebar-item hover-effect' href="../Input/input.html">Input</a>
            <a class ='sidebar-item hover-effect' href="../Lists/list.html">Lists</a>
            <a class ='sidebar-item hover-effect' href="../Text_Utilities/text_utility.html">Text Utilities</a>
            <a class ='sidebar-item hover-effect' href="../Toast/toast.html">Toasts</a>
    
        </aside>

        <div class="main-content">
            <h1 class="section-header">Image</h1>
            <p>This component is used to display responsive images</p>
            <h3 class="section-sub-header">Responsive Image</h3>
            <p>This is used to display any image to the 100% of the parent container keeping the
                 aspect ratio in place. Use the classname responsive-image to achieve this in your project.</p>
            <div class="flex-row image-width ">
                <img class="responsive-image" src="../../Assets/Images/nature.jpg" alt="Nature"> 
            </div>  
           
            <p>To use the above image component, just copy and paste the below code snippet:</p>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28112%2C133%2C150%2C1%29&t=night-owl&wt=sharp&l=auto&width=849&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%250A%253Cdiv%2520class%253D%2522flex-row%2520image-width%2520%2522%253E%250A%2520%2520%2520%2520%253Cimg%2520class%253D%2522responsive-image%2522%2520src%253D%2522..%252F..%252FAssets%252FImages%252Fnature.jpg%2522%2520alt%253D%2522Nature%2522%253E%2520%250A%253C%252Fdiv%253E%250A"
                style="width: 100%; height: 151px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>

            <h3 class="section-sub-header">Responsive Rounded Image</h3>
            <p>This is used to display any image in circular shape with the
                 width being 100% of the parent container. Use the classname image-rd to achieve this.</p>
                 <div class="flex-row image-width">
                    <img class=" responsive-image image-rd" src="../../Assets/Images/nature.jpg" alt="Nature">
                </div> 
            <p>To use the above image component, just copy and paste the below code snippet:</p>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28112%2C133%2C150%2C1%29&t=night-owl&wt=sharp&l=auto&width=863.75&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%250A%253Cdiv%2520class%253D%2522flex-row%2520image-width%2522%253E%250A%2509%253Cimg%2520class%253D%2522%2520responsive-image%2520image-rd%2522%2520src%253D%2522..%252F..%252FAssets%252FImages%252Fnature.jpg%2522%2520alt%253D%2522Nature%2522%253E%250A%253C%252Fdiv%253E%2520%250A"
                style="width: 100%; height: 151px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>

            <div class="next-links">
                <a class="next-link-item" href="../Card/card.html" target="_blank">
                    <span class="margin-lr"><ion-icon name="arrow-undo-sharp"></ion-icon></span>Card
                </a>
                <a class="next-link-item" href="../Input/input.html">Input
                    <span class="margin-lr" ><ion-icon name="arrow-redo-sharp"></ion-icon></span> </a>
            </div>

        </div>

    </main>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>