<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image</title>
    <link rel="stylesheet" href="../../Docs/doc.css">
    <link rel="stylesheet" href="image.css">
</head>
<body>
    <nav class='nav'>
        <div >
            <a class="nav-header" href="">Ozone UI</a>
        </div>
        <div class="nav-links">
            <a class='nav-item' href="https://twitter.com/reddygov16" target="_blank">
                <img class="logo" src="../../Assets/SVG/twitter.png" alt="twitter">
            </a>
            <a class='nav-item' href="https://github.com/govardhanreddyc79" target="_blank">
                <img class='logo' src="../../Assets/SVG/github.png" alt="github">
            </a>
        </div>
    </nav>
    <main class="main-section">
        <aside class="sidebar flex-column">
            <a class ='sidebar-header' href="">Getting Started</a>
            <a class ='sidebar-item hover-effect' href="">Installation Guide</a>
    
            <a class ='sidebar-header' href="">Components</a>
            <a class ='sidebar-item hover-effect' href="">Alert</a>
            <a class ='sidebar-item hover-effect' href="">Avtar</a>
            <a class ='sidebar-item hover-effect' href="">Badge</a>
            <a class ='sidebar-item hover-effect' href="">Button</a>
            <a class ='sidebar-item hover-effect' href="">Card</a>
            <a class ='sidebar-item link-active hover-effect' href="">Image</a>
            <a class ='sidebar-item hover-effect' href="">Input</a>
            <a class ='sidebar-item hover-effect' href="">Lists</a>
            <a class ='sidebar-item hover-effect' href="">Text Utilities</a>
            <a class ='sidebar-item hover-effect' href="">Toasts</a>
    
        </aside>

        <div class="main-content">
            <h1 class="section-header">Image</h1>
            <p>This component is used to display responsive images</p>
            <h3 class="section-sub-header">Responsive Image</h3>
            <p>This is used to display any image to the 100% of the parent container keeping the
                 aspect ratio in place. Use the classname responsive-image to achieve this in your project.</p>
            <div class="flex-row">
                <img src="images/nature.jpg" alt="Nature"> 
            </div>  
           
            <p>To use the above image component, just copy and paste the below code snippet:</p>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=night-owl&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522flex-row%2522%253E%250A%2520%2520%2520%2520%253Cimg%2520src%253D%2522images%252Fnature.jpg%2522%2520alt%253D%2522Nature%2522%253E%2520%250A%253C%252Fdiv%253E%2520"
                style="width: 100%; height: 130px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>

            <h3 class="section-sub-header">Responsive Rounded Image</h3>
            <p>This is used to display any image in circular shape with the
                 width being 100% of the parent container. Use the classname image-rd to achieve this.</p>
                 <div class="flex-row">
                    <img class="image-rd" src="images/nature.jpg" alt="Nature">
                </div> 
            <p>To use the above image component, just copy and paste the below code snippet:</p>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=night-owl&wt=none&l=auto&width=604&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522flex-row%2522%253E%250A%2509%253Cimg%2520class%253D%2522image-rd%2522%2520src%253D%2522images%252Fnature.jpg%2522%2520alt%253D%2522Nature%2522%253E%253C%252Fdiv%253E%2520%2520"
                style="width: 100%; height: 130px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>

            <div class="next-links">
                <a class="next-link-item" href="../Card/card.html" target="_blank">
                    <span class="margin-lr"><ion-icon name="arrow-undo-sharp"></ion-icon></span>Card
                </a>
                <a class="next-link-item" href="../Input/input.html">Input
                    <span class="margin-lr" ><ion-icon name="arrow-redo-sharp"></ion-icon></span> </a>
            </div>

        </div>

    </main>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>