@import url('./Docs/doc.css');

.homepage-container {
    width:100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.homepage-container p {
    font-size: 2rem;
    margin: 0;
    color: var(--secondary-color);
}
.homepage-container h1 {
    font-size: 6rem;
    margin: 1rem 2rem;
    
}
.homepage-btns {
    display: flex;
    gap: 4rem;
    margin: 2rem;
}
.btn-hp {
    padding: 0.3rem 1rem;
    border-radius: 2rem;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}
.btn-primary-hp {
    background-color: var(--primary-color);
    color: white;
    border: 0;
}
.btn-outline-hp {
    border: 2px solid var(--primary-color);
    color: var(--secondary-color);
}
